<!doctype html>
<html lang="en">
    
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Tailwind CSS CDN -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
     <!-- <link rel="stylesheet" href="./css/main.css"> -->
    <title>eCholestroCare</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body class="bg-gray-100">
    <div class="relative min-h-screen">
        <img src="./images/home_background.jpg" alt="Background Image" 
            class="absolute  w-full h-screen opacity-50">

        <div class="relative z-10 flex flex-col items-center justify-center min-h-screen">
            <h1 class="text-6xl font-bold text-gray-800 flex items-center space-x-6 mb-12">
                <img id="home-logo" src="./images/logo.png" alt="Logo" class="w-20 h-20">
                <span>eCholestroCare</span>
            </h1>

            <div class="flex flex-col md:flex-row items-center justify-center space-y-6 md:space-y-0 md:space-x-6">

                <div class=" bg-[#147487] text-yellow-500 rounded-lg shadow-md p-6 w-1/3 hover:bg-blue-500 hover:text-white transition ">
                    <h5 class="text-2xl font-semibold ">Doctor's Portal</h5>
                    <p class=" mt-4">Personalised Dashboard for suggesting diet plans, medicines to Patients based on
                        their reports.</p>
                    <a href="./DrSignup" class="mt-6 inline-block bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-white hover:text-blue-500 transition">Go</a>
                </div>

                <div class="bg-[#147487] text-yellow-500 rounded-lg shadow-md p-6 w-1/3 hover:bg-blue-500 hover:text-white transition">
                    <h5 class="text-2xl font-semibold">Patient's Portal</h5>
                    <p class="mt-4">Personalised Dashboard for getting Expert Doctor's Advice on your health reports.</p>
                    <a href="./usersignup" class="mt-6 inline-block bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-white hover:text-blue-500 transition">Go</a>
                </div>

            </div>
        </div>

    </div>
</body>

</html>
